.car-photos-area {
  margin-top: 6px;
  overflow-x: auto;
  max-width: 250px;
  max-height: 50px;
}

.car-photos-list {
  display: inline-flex;
}

.car-photos-list li {
  list-style: none;
}

.car-photos-list {
  display: contents !important;
  text-align: center;
  list-style: inside;
  margin-top: 5px;
}

.car-photos-list li {
  display: inline;
}

.img-wrap {
  position: relative;
  display: inline-grid;
 
}
.img-wrap .close {
  width: 21px !important;
  height: 20px !important;
  position: absolute !important;
  top: 0px !important;
  right: 4px !important;
  z-index: 100 !important;
  color: white !important;
  cursor: pointer;
}

.delete-icon {
  background: #09090999;;
  height: 19px;
  width: 18px;
  font-size: 19px;
}