<div class="password-reset-form" align="center">
  <mat-card class="password-reset-card">
    <h2>Yeni Parola</h2>
    <mat-card-content>
      <img id="logo" src="/assets/images/kiralaMAX-Logo.png" alt="MSymbolSoruce:https://dribbble.com/shots/12151134-Maximum-logo">
    </mat-card-content>
    <form [formGroup]="passwordResetForm">
      <div>
        <mat-form-field appearance="legacy">
          <mat-label>Yeni parolanızı giriniz</mat-label>
          <input type="password" matInput formControlName="password" required>
        </mat-form-field>
      </div>
      <div>
      </div>
    </form>
    <div mat-dialog-actions>
      <button mat-stroked-button (click)="resetPassword()" cdkFocusInitial color="primary">Onayla</button>
    </div>
  </mat-card>
</div>