/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

body {
    margin: 0 !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.error-snack { background: #d9281aeb; color: rgb(255, 255, 255); }
.error-snack .mat-button-wrapper {color:white}
.success-snack {background: #1eb160f1; color: rgb(255, 255, 255);}
.success-snack .mat-button-wrapper {color:white}
.success-button { background-color: #2c9033 !important;}
.filter-area { padding: 25px 5px 25px 25px;}
.filter-area mat-form-field { padding-left: 25px;}
.middle { vertical-align: middle; }