<div class="car-add-form">
  <h3>Parolamı Unuttum</h3>
  <form [formGroup]="forgotPasswordForm">
    <div >
      <mat-form-field  appearance="legacy">
        <mat-label>E-Mail Adresi</mat-label>
        <input type="email" matInput formControlName="emailAddress" required>
      </mat-form-field>
    </div>

    <div>
    </div>
  </form>
  <div mat-dialog-actions>

    <button mat-stroked-button color="warn" (click)="onNoClick()">İptal</button>
    <button mat-stroked-button [mat-dialog-close]=""  (click)="sendFotgotPasswordForm()" cdkFocusInitial color="primary">Gönder</button>
  </div>