<!-- landing page source : https://codepen.io/tutsplus/pen/aMpmZN -->

<body data-spy="scroll" data-target="#navbar" data-offset="72" class="position-relative">

  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <header class="fixed-top page-header">
    <div class="container-fluid container-fluid-max">
      <nav id="navbar" class="navbar navbar-expand-lg navbar-dark">
        <img src="/assets/images/kiralaMAX-Logo.png"
          alt="MSymbolSoruce:https://dribbble.com/shots/12151134-Maximum-logo" />

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-lg-between" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#services">Hizmetler</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#popular-destinations">Popüler Rotalar</a>
            </li>
          </ul>
          <div class="text-white">
            <a href="tel:1234567890" class="mr-2">
              <i class="fas fa-phone"></i>
              <div class="d-none d-xl-inline">
                <mat-icon class="icon">phone</mat-icon> 1234567890
              </div>
            </a>
            <a href="mailto:info@honeydreams.com">
              <i class="fas fa-envelope"></i>
              <div class="d-none d-xl-inline">
                <mat-icon class="icon">mail_outline</mat-icon>
                info@kiralamax.com
              </div>
            </a>
          </div>
        </div>
      </nav>
    </div>
  </header>

  <main>
    <section id="home" class="d-flex align-items-center position-relative vh-100 cover hero" style="
        background-image: url('https://wallpaperaccess.com/full/3653638.jpg');
      ">
      <div class="container-fluid container-fluid-max">
        <div class="row">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <h1 class="text-white">
              Prosedürlere takılmayan kiralama
            </h1>
            <div class="mt-3">
              <a class="btn bg-red text-white mr-2" href="/cars" role="button"><b>Hemen Kirala</b></a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="services" class="featured-destinations bg-lightblue">
      <div class="row no-gutters">
        <div class="col-12 col-md-6 d-flex align-items-center order-1 order-md-0">
          <div class="p-15">
            <h2>Hizmetlerimiz</h2>
            <p>
              KiralaMAX ile araç kiralama deneyiminizi bir üst seviyeye
              taşıyoruz. Kiralamak istediğiniz aracın gerçek fotoğraflarını ve
              ayrıntılarını görürsünüz ve bu sayede kiralama esnasında asla kötü
              bir sürprizle karşılaşmazsınız. Araç kiralamanızı
              gerçekleştirdikten sonra ise istediğiniz zaman ofisimize gelip
              aracınızı teslim alabilirsiniz veya görevlimiz istediğiniz zaman
              diliminde aracınızı size getirir.
            </p>
            <p>
              Geniş bir segmente sahip araç filomuzdan istediğiniz segmentte
              size en uygun aracı seçersiniz ve kiralamanızı online ödeme
              yoluyla gerçekleştirerek tüm o uzun prosedürlerden kurtulursunuz.
              Aracınızı teslim almaya geldiğinizde veya görevlimiz aracı size
              teslim etmeye geldiğinde aracın beklentilerinizi karşılamayacağını
              düşünürseniz hemen müsait bir başka araçla değişimini sağlarsınız.
            </p>
            <p>
              Bizim hizmet anlayışımızda asla prosedürlere takılmak ve detaylara
              boğulmak yoktur. Kiraladığınız aracı kiralamanın başladığı gün
              istediğiniz saatte alıp istediğiniz saatte teslim edersiniz, bu
              sayede kiralama bitim saati yaklaştı mı? iade saatine
              yetişebilecek miyim? gibi düşünceler asla aklınıza gelmez.
            </p>
            <p>
              Yolculuklarınızın iyi geçmesi bizim için çok önemli olası bir
              arıza ya da kaza durumunda 24 saat ulaşabileceğiniz destek
              merkezimizden yeni bir araç talep edebilir veya istediğiniz
              noktaya sizi aktarması için destek alabilirsiniz.
            </p>
            <p>
              KiralaMAX ile araç kiralamak bu kadar kolay, bırakın
              prosedürleri biz halledelim, siz ise yolculuğunuzun keyfini
              çıkarın.
            </p>
          </div>
        </div>
        <div class="col-12 col-md-6 order-0 order-md-1">
          <div class="vh-100 cover" style="
              background-image: url('https://images.unsplash.com/photo-1560264280-88b68371db39?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8Y3VzdG9tZXIlMjBzZXJ2aWNlfGVufDB8fDB8&ixlib=rb-1.2.1&w=1000&q=80');
            "></div>
        </div>
      </div>
    </section>

    <section id="popular-destinations" class="popular-destinations py-5">
      <div class="container-fluid container-fluid-max">
        <div class="row">
          <div class="col-12">
            <h2 class="pb-3 text-red">Popüler Rotalar</h2>
          </div>
          <div class="col-12 col-sm-6 col-md-4">
            <a href="" class="text-white">
              <figure class="position-relative overflow-hidden">
                <img class="img-fluid" src="https://c4.wallpaperflare.com/wallpaper/382/758/444/turkey-dreams-of-cappadocia-avanos-nevsehir-wallpaper-preview.jpg"
                  alt="Kapadokya" />
                <figcaption class="d-flex align-items-center justify-content-center position-absolute">
                  <h3>Kapadokya</h3>
                </figcaption>
              </figure>
            </a>
          </div>
          <div class="col-12 col-sm-6 col-md-4">
            <a href="" class="text-white">
              <figure class="position-relative overflow-hidden">
                <img class="img-fluid" src="https://c0.wallpaperflare.com/preview/366/970/354/turkey-alacat%C4%B1-old-house.jpg"
                  alt="Alaçatı" />
                <figcaption class="d-flex align-items-center justify-content-center position-absolute">
                  <h3>Alaçatı</h3>
                </figcaption>
              </figure>
            </a>
          </div>
          <div class="col-12 col-sm-6 col-md-4">
            <a href="" class="text-white">
              <figure class="position-relative overflow-hidden">
                <img class="img-fluid" src="https://c4.wallpaperflare.com/wallpaper/251/37/168/sky-sea-coast-kusadasi-wallpaper-preview.jpg"
                  alt="Kuşadası" />
                <figcaption class="d-flex align-items-center justify-content-center position-absolute">
                  <h3>Kuşadası</h3>
                </figcaption>
              </figure>
            </a>
          </div>
          <div class="col-12 col-sm-6">
            <a href="" class="text-white">
              <figure class="position-relative overflow-hidden">
                <img class="img-fluid" src="https://c4.wallpaperflare.com/wallpaper/831/645/155/amazing-beach-beauty-blue-wallpaper-preview.jpg"
                  alt="Ölü Deniz" />
                <figcaption class="d-flex align-items-center justify-content-center position-absolute">
                  <h3>Ölü Deniz</h3>
                </figcaption>
              </figure>
            </a>
          </div>
          <div class="col-12 col-md-6">
            <a href="" class="text-white">
              <figure class="position-relative overflow-hidden">
                <img class="img-fluid" src="https://c0.wallpaperflare.com/preview/351/698/465/alanya-night-k%C4%B1z%C4%B1lkule-landscape.jpg"
                  alt="Antalya" />
                <figcaption class="d-flex align-items-center justify-content-center position-absolute">
                  <h3>Antalya</h3>
                </figcaption>
              </figure>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section id="request-quote" class="py-5 request-quote bg-lightblue">
      <div class="container-fluid container-fluid-max">
        <div class="row justify-content-center">
          <div class="col-12 col-md-auto py-3 text-center">
            <h2 class="mb-0 text-red">Yeni bir yolculuğa hazır mısınız?</h2>
            <p class="mb-0 h4 text-red font-weight-normal">
              O halde hemen KiralaMAX'layın!
            </p>
          </div>
          <div class="col-12 col-md-auto d-flex justify-content-center align-items-center">
            <a class="btn bg-red text-white font-weight-bold" href="./cars" role="button">
              Hemen Kirala
              <i class="ml-1 fas fa-hand-point-right"></i>
            </a>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer class="py-5 page-footer">
    <div class="container-fluid container-fluid-max">
      <div class="row">
        <div class="col-12 col-md-6 footer-child copyright">
          KiralaMAX © 2020 All Rights Reserved
        </div>
        <div class="col-12 col-md-6 footer-child footer-links">
          <a href="" class="mr-3">Gizlilik Politikası</a>
          <a href="">Sıkça Sorulan Sorular</a>
        </div>
      </div>
    </div>
  </footer>
</body>